@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Ysabeau+Infant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@500&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 3rem;
	align-items: center;
	gap: 1rem;
}

.items-menu{
	list-style: none;
	display: flex;
	gap: 1.3rem;
	flex-flow: row wrap;
	font-family: 'Comfortaa', cursive;
	text-transform: uppercase;
	font-weight: bold;
	color: #5b5247;
	margin-right: 3px;
}

a:link{
	text-decoration: none;
	color: #5b5247;
}

a:visited{
	color: #5b5247;
}

.items-menu a:hover{
	transition: 0.5s;
	color: #c28b13;
}

.title{
	text-align: center;
}
.title h1{
	font-family: 'Ysabeau Infant', sans-serif;
	font-size: 55px;
	color: #b6335e;
}
.title h4{
	letter-spacing: 7px;
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
	color:#c28b13;
	font-weight: lighter;
}

#main-banner{
	display: flex;
	flex-flow: column ;
	justify-content: flex-start;
	align-items: center;
	width: 95%;
	height: 90vh;
	margin: 0px auto;
	background: #ffcbeb;
}

#botao-agenda{
	text-align: center;
	width: 200px;
	color: #fff;
	padding: 1rem;
	background-color: #C04972;
	border-radius: 60px;
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	letter-spacing: 5px;
	margin-top: -50px;
}

#botao-agenda:link{
	color: #fff;
}
#botao-agenda:hover{
	background-color: #FFF;
	color: #B9851D;
	transition: 0.7s;
}